[[redirects]]
from = "/thank-you.html"
to = "/thank-you.html"
status = 200

[build]
publish = "dist"
command = "npm run build"

[functions]
directory = "functions"

[[headers]]
for = "/thank-you.html"

[headers.values]
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"